.container__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: aliceblue;
  border-radius: 10px;
}

.category__heading {
  margin: 30px 0 30px 0;
  font-weight: bold;
}

.form__container {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: relative;
  align-items: center;
}

.container__error {
  position: absolute;
  top: 35px;
  right: 0px;
  font-size: 12px;
  text-align: left;
}

.input__styles {
  border-radius: 5px;
  background-color: chocolate;
  color: white;
  padding: 5px;
}
.input__styles:focus {
  outline: none;
  border: none;
}

.btn__submit {
  background-color: burlywood;
  padding: 5px 15px 5px 15px;
  margin-bottom: 50px;
  border-radius: 10px;
}
